//$--color-primary:#409EFF;
$--color-primary:#13C2C2;

@forward "~element-plus/theme-chalk/src/common/var.scss" with (
/* 改变主题色变量 */
  $colors: (
    "primary": (
      "base": $--color-primary,
    ),
  ),
);

/* 改变 icon 字体路径变量，必需 */


@import "~element-plus/theme-chalk/src/index.scss";
:export{
  theme:$--color-primary
}
.el-drawer__header {
  margin-bottom: 0 !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d9;
}